<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" lang="en" />
  <link rel="stylesheet" href="/css/index.css">
  <title>This is completed test task</title>
</head>
<body>
<h1>This is completed test task</h1>
<p>You can to play with service using <a href="/api">Swagger interface</a></p>
<p>I was needed to create backend service according next task:</p>
<iframe src="/tasks/1.html" ></iframe>
</body>
</html>
